<!DOCTYPE html>
<html>

<head>
  <title>Crop Detection</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=2">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>


<body>
  <header>
  <div class="jumbotron">
  </div>

    <nav class = "navbar navbar-default navbar-dark bg-dark">
      <div class = "container">
        <div class= "collapse navbar-collapse" id='navbar-collapse'>
        <ul class= "nav navbar-nav">
          <li class="navbar-brand"> <a href="./index.html" class="nav-link">Crop Detection</a>
          </li>
          <li class= "nav-item"> <a href="./index.html" class="nav-link"> Home</a>
          </li>
          <li class="nav-item"> <a href="./types.html" class="nav-link"> Types</a>
          </li>
          <li class="nav-item"> <a href="./plant.html" class="nav-link"> Check Your Plant</a>
          </li>

  </header>
<div class="container">
  <article class="artical maincontent">
    <h1>Why this System?</h1>
    <p>Due to increase in agriculture demand, a need to go crops that provides profit to the farmers is very much important these days.
       It is not possible to keep a track on all crops if multiple farms are there and hence the idea came of making an application that
       can detect diseased crops during farming and after harvesting. </p>
    <p>The system uses images of the crops that need to be monitored and other database of pre stored images of diseased crops.
      Each image is checked thoroughly and will be put in their category according to its disease and the risk factor.
      If the disease is detected, an alert will be raised with the specific location of the diseased crop in the farm which then can be further
      inspected for the analysis.</p>
  <article>

</body>

</html>
