<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/toastr.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body >
    <nav id = "top">
        <p id="title">Crop Diseae Detection</p>
    </nav>

    <div class="body">
        <div class="container">
            <form action="#" onsubmit="dateSelected(); return false;">
                <div class="text">
                    LOLOLOLOLOL
                </div>
                
                <div class="form-row">
                    <div class="input-data">
                        <label>Username</label>
                        <input id="username" type="text" maxlength="12" minlength="5" required>
                        <div class="underline"></div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="input-data">
                        <label>Password</label>
                        <input id="password" type="password" maxLength = "20" minLength="6" required>
                        <div class="underline"></div>
                    </div>
                </div>

                <!-- <div class="form-row">
                    <div class="input-data">
                        <label>Role</label>
                        <input id="name" type="text" required>
                        <div class="underline"></div>
                    </div>
                </div> -->

                <div class="form-row">
                    <div class="input-data">
                        <div class="inner"></div>
                        <input type="submit" value="submit" onclick="">
                        <!-- <button  id="btn" onclick="dateSelected()">Submit</button> -->
                    </div>
                </div>                   
                    
                </div>
            </form>
        </div>
        
    </div>
    
    <p id="p"></p>
</body>
<script src="JS/jquery-3.4.1.min.js"></script>
<script src="JS/toastr.js"></script>
<script src="JS/script.js"></script>
</html>