<!DOCTYPE html>
<html>

<head>
  <title>Crop Detection</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=2">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>


<body>
    <header>
    <div class="jumbotron">
    </div>

      <nav class = "navbar navbar-default navbar-dark bg-dark">
        <div class = "container">
          <div class= "collapse navbar-collapse" id='navbar-collapse'>
          <ul class= "nav navbar-nav">
            <li class="navbar-brand"> <a href="./index.htm" class="nav-link">Crop Detection</a>
            </li>
            <li class= "nav-item"> <a href="./index.htm" class="nav-link"> Home</a>
            </li>
            <li class="nav-item"> <a href="./types.html" class="nav-link"> Types</a>
            </li>
            <li class="nav-item"> <a href="./plant.html" class="nav-link"> Check Your Plant</a>
            </li>

    </header>

 <section class="page-section bg-light" id="types">
    <div class="container">
      <div class="text-center">
        <h1 class="text-uppercase">Disease Types</h1>
        <h2 class="text-muted"> Types of Tomato Diseases in Plant</h2>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-5 col-lg-4 mb-4">
            <div class="Types-item">
              <a class="Types-link" data-toggle="mart" href="#typesMart1">
                <img class="img-rounded" src="./images/early_blight.jpg" alt="">
              </a>
              <div class="Types-names">
                <div class="Types-names-heading">Early Blight</div>
              </div>
            </div>
        </div>

        <div class="col-sm-5 col-lg-4 mb-4">
            <div class="Types-item">
              <a class="Types-link" data-toggle="mart" href="#typesMart1">
                <img class="img-rounded" src="./images/bacterial_spot.jpg" alt="">
              </a>
              <div class="Types-names">
                <div class="Types-names-heading">Bacterial Spot</div>
              </div>
            </div>
        </div>

        <div class="col-sm-5 col-lg-4 mb-4">
            <div class="Types-item">
              <a class="Types-link" data-toggle="mart" href="#typesMart1">
                <img class="img-rounded" src="./images/late_blight.jpg" alt="">
              </a>
              <div class="Types-names">
                <div class="Types-names-heading">Late Blight</div>
              </div>
            </div>
        </div>

        <div class="col-sm-5 col-lg-4 mb-4">
            <div class="Types-item">
              <a class="Types-link" data-toggle="mart" href="#typesMart1">
                <img class="img-rounded" src="./images/leaf_mold.jpg" alt="">
              </a>
              <div class="Types-names">
                <div class="Types-names-heading">Leaf Mold</div>
              </div>
            </div>
        </div>

        <div class="col-sm-5 col-lg-4 mb-4">
            <div class="Types-item">
              <a class="Types-link" data-toggle="mart" href="#typesMart1">
                <img class="img-rounded" src="./images/septoria_leaf_spot.jpg" alt="">
              </a>
              <div class="Types-names">
                <div class="Types-names-heading">Septoria Leaf Spot</div>
              </div>
            </div>
        </div>

        <div class="col-sm-5 col-lg-4 mb-4">
            <div class="Types-item">
              <a class="Types-link" data-toggle="mart" href="#typesMart1">
                <img class="img-rounded" src="./images/target_spot.jpg" alt="">
              </a>
              <div class="Types-names">
                <div class="Types-names-heading">Target Spot</div>
              </div>
            </div>
        </div>

        <div class="col-sm-5 col-lg-4 mb-4">
            <div class="Types-item">
              <a class="Types-link" data-toggle="mart" href="#typesMart1">
                <img class="img-rounded" src="./images/tomato_mosaic.jpg" alt="">
              </a>
              <div class="Types-names">
                <div class="Types-names-heading">Tomato Mosaic Virus</div>
              </div>
            </div>
        </div>

        <div class="col-sm-5 col-lg-4 mb-4">
            <div class="Types-item">
              <a class="Types-link" data-toggle="mart" href="#typesMart1">
                <img class="img-rounded" src="./images/tomato_yellow.jpg" alt="">
              </a>
              <div class="Types-names">
                <div class="Types-names-heading">Tomato Yellow Leaf Curl Virus</div>
              </div>
            </div>
        </div>

        <div class="col-sm-5 col-lg-4 mb-4">
            <div class="Types-item">
              <a class="Types-link" data-toggle="mart" href="#typesMart1">
                <img class="img-rounded" src="./images/spider_mite.jpg" alt="">
              </a>
              <div class="Types-names">
                <div class="Types-names-heading">Two Spotted Spider Mite</div>
              </div>
            </div>
        </div>

        </div>
      </div>

  </section>

<!--<div class="types-mart mart fade" id="typesMart1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="mart-dialog">
    <div class="mart-content">
      <div class="close-mart" data-dismiss="mart"><img src="./images/close.png" alt="close mart">
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="mart-body">
              <h1 class="text-uppercase">Early Blight</h1>
              <img class="img-rounded" src="./images/early_blight.jpg" alt="">
              <button class="btn-btn-primary" data-dismiss="mart" type="button"> Close </button>

            </div>

          </div>

        </div>

      </div>
    </div>

  </div>

</div>-->
<div class="container">
  <article class="artical maincontent">
</div>
</body>

</html>
