<!DOCTYPE html>
<html>

<head>
  <title>Crop Detection</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="css/toastr.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <header>
    

    <nav class = "navbar navbar-default navbar-dark bg-dark">
      <div class = "container">
        <div class= "collapse navbar-collapse" id='navbar-collapse'>
          <ul class= "nav navbar-nav">
            <li class="navbar-brand"> <a href="/" class="nav-link">Home</a>
            </li>
            <li class="navbar-brand"> <a href="/types" class="nav-link">Disease</a>
            </li>
            <li class= "navbar-brand"> <a href="/upload" class="nav-link"> Upload Image</a>
            </li>
            <li class="navbar-brand"> <a href="/login" class="nav-link"> Login</a>
            </li>
            <li class="navbar-brand"> <a href="/register" class="nav-link">Register</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
    </div>
  </header>


  
  <section class="page-section bg-light" id="types">
    <div class="body1">
      <div class="container1">
          <!-- <form > -->
          <form action="" method="post" enctype="multipart/form-data" id="uploadForm" >
              <div class="text">
                  Upload
              </div>
              
              <div class="form-row">
                  <div class="input-data">
                      <label>Select an image</label>
                      <input id="image" type="file" name="upload" accept="image/*" required>
                      <div class="underline"></div>
                  </div>
              </div>

              <div class="form-row">
                  <div class="input-data">
                      <div class="inner"></div>
                      <!-- <button>Predict</button> -->
                      <input type="submit" value="submit" onclick=""  >
                      <!-- <button  id="btn" onclick="dateSelected()">Submit</button> -->
                  </div>
              </div>                   
                  
              </div>
          </form>

          
      </div>
      <div class="body1">
        <div class="container1">
          <p id="predict">Prediction</p>
        </div>
      </div>
      

  </div>
    <!-- <div class="container">
      <div class="text-center">
    <form action="img-upload.php" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="img_Upload" id="img_Upload">
    <input type="submit" value="Upload Image" name="submit">
    </form>
      </div>
    </div> -->
  </section>
</body>
<script src="JS/jquery-3.4.1.min.js"></script>
<script src="JS/toastr.js"></script>
<script src="JS/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js" integrity="sha512-QSb5le+VXUEVEQbfljCv8vPnfSbVoBF/iE+c6MqDDqvmzqnr4KL04qdQMCm0fJvC3gCWMpoYhmvKBFqm1Z4c9A==" crossorigin="anonymous"></script>
<script>
  var uploadField = document.getElementById("image");
  uploadField.onchange = function() {
      toastr.options = {
          "positionClass": "toast-bottom-full-width"
      };
      if(this.files[0].size > 307200) {
          toastr.error("File too big");
          this.value = "";
      }
  }
</script>

</html>